body {
  margin: 0;
  font-family: "Tajawal";
  background: #0b0f19;
  color: #fff;
}

/* TOP BAR */
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: rgba(0,0,0,0.7);
  border-bottom: 1px solid #d4af37;
  position: sticky;
  top: 0;
}

.logo {
  color: #d4af37;
  font-weight: bold;
}

.menu {
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  right: -260px;
  top: 0;
  width: 250px;
  height: 100%;
  background: #111827;
  border-left: 2px solid #d4af37;
  transition: 0.4s;
  padding-top: 60px;
}

.sidebar a {
  display: block;
  color: #fff;
  padding: 15px;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar a:hover {
  background: #d4af37;
  color: #000;
}

.sidebar.active {
  right: 0;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  color: #d4af37;
}

.cta {
  margin-top: 20px;
  padding: 12px 25px;
  background: #d4af37;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: #111827;
  border: 1px solid #d4af37;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  border-radius: 12px;
}

.card:hover {
  transform: translateY(-5px);
  background: #d4af37;
  color: #000;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 30px;
  border-top: 1px solid #d4af37;
}
